<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <property name="LOG_FOLDER">logs</property>
        <property name="pattern_cmd">%d{HH:mm:ss} %-5level %c{1} - %m%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] [%c{1}] [%L] %-5level %logger{5} - %m%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_cmd}"/>
        </Console>
        <RollingFile name="TxtFile" fileName="logs/text_log.log" append="true"
                     filePattern="${LOG_FOLDER}/text_log_%i.log">
            <PatternLayout pattern="${pattern_cmd}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="DEBUG"/>
            <AppenderRef ref="TxtFile" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>